##############
## My files ##
##############
[pP]rivate[iI]nfo.*
network[vV]ariables.*
work[nN]etwork[vV]ariables.*

############
## Python ##
############
*.py[co]
.pypirc
venv/
.venv/
__pycache__/

####################
## JetBrains IDEs ##
####################
.idea/
*.iml

##################
## Maven output ##
##################
target/

#################
## CMake files ##
#################
cmake-build-*/
debug_custom.json

#######################
## Arduino IDE files ##
#######################
esp*.svd

#########################
## Visual Studio files ##
#########################
.vscode/
c_cpp_properties.json
*.user   # Individual user settings for a Visual Studio project.
*.suo    # Solution User Options, Visual Studio workspace settings.
*.vspscc # Source Control Integration files.
.vs/     # Visual Studio (2017+) directory for local solution components.
[Bb]in/  # Output directory.
[Oo]bj/  # Intermediate object directory.

######################
## Windows detritus ##
######################
Thumbs.db
ehthumbs.db

########################
## Folder config file ##
########################
[Dd]esktop.ini

#####################################
## Recycle Bin used on file shares ##
#####################################
$RECYCLE.BIN/

##########################
# macOS Finder metadata ##
##########################
.DS_Store

##############
## Packages ##
##############
*.egg
*.egg-info
dist/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg

####################
## Installer logs ##
####################
pip-log.txt

############################
## Windows shortcut files ##
############################
*.lnk
*.url

##################
## Backup files ##
##################
*.bak

####################
## Node.js / npm  ##
####################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

###########################
## General Build & Temp  ##
###########################
build/
out/
.cache/
log/
temp/
tmp/

######################
## Linux/Unix files ##
######################
# Core dump files
core
# Vim/Swap/Backup files
[.#]*swp

#######################
## Local environment ##
#######################
.env
.env.local
